/* css 문법만 */

/* Fonts */

/* Common */

:root {
  --point-color-green: #16873e;
  --sub-color-green: #b3cf0a;
  --c-sub: #0a0a08;
  --c-wt: #ffffff;
  --c-bk: #000000;
  --c-dark: #222222;
  --c-gray: #555555;
  --c-g-66: #666666;
  --c-g-77: #777777;
  --c-g-99: #999999;
  --c-g-ee: #eeeeee;
  --c-g-ed: #ededed;
  --c-g-bc: #bcbcbc;
  --c-g-de: #dedede;
  --c-g-f6: #f6f6f6;
  --c-line: #f0f0f0;
}
body {
  font-family: 'SUIT', sans-serif;letter-spacing: -0.4px;
}
#wrap {}

button {cursor: pointer;}

/* btn_gotop button */
.btn_gotop {
  background: #55A30F;
  background-size: cover;width: 65px;height: 65px;
  position: fixed;right: 42px;bottom: 260px;
  display: flex;justify-content: center;
  text-align: center;align-items: center;
  z-index: 999;
}
.btn_gotop i {
  font-size: 40px;
  color: #fff;
}

.inner {width: 1580px;margin: auto;}
.screen_out {display: block;overflow: hidden;width: 0;height: 0;}

#wrap {}

/* header */
header {
  position: relative;
  display: flex;justify-content: space-between;align-items: center;
  height: 102px;
  background: #fafafa;
  padding: 0 4%;
  position: fixed;left: 0;right: 0;z-index: 2;
  width: auto;transform: translateX(0);
}
header h1 {}
header h1 a {
  display: block;width: 110px;height: 55px;
  background: url(../img/skenmove_logo_green.svg) no-repeat;
  background-size: contain;
}
header nav {
  position: absolute;top: 0;left: 50%;transform: translateX(-50%);
}
header nav #gnb {display: flex;}
header nav #gnb>li>a {
  display: flex;justify-content: center;align-items: center;
  margin: 0 40px;height: 102px;font-size: 24px;font-weight: 700;
}
header nav #gnb .dep2_wrap .dep2 {
  display: none;
  flex-direction: column;padding-top: 60px;
  text-align-last: left;
  /* border: 1px solid pink; */
}
header nav #gnb .dep2_wrap .dep2 .right_dep2 {
  position: absolute;top: 152px;right: -50%;
  /* border: 1px solid #000; */
}
header nav #gnb .dep2_wrap .dep2 .right_dep2>li {
  font-size: 16px;font-weight: 700;padding-bottom: 15px;
  border-left: 1px solid var(--c-g-ed);padding-left: 50px;
}
header nav #gnb .dep2_wrap .dep2>.left_img {
  position: absolute;left: -55%;top: 152px;
  /* border: 1px solid #000; */
}
header nav #gnb .dep2_wrap .dep2>.left_img>a {
  display: flex;justify-content: space-between;
  position: absolute;left: 0;right: 0;bottom: 0;
  background: #000;color: #fff;
  padding: 10px;
}
header nav #gnb .dep2_wrap .dep2>.left_img>i {
  color: #fff;padding-left: 30px;
}
header nav #gnb .dep2_wrap .dep2>li {
  padding-bottom: 20px;text-align: left;
}
header nav #gnb .dep2_wrap .dep2>li>a {
  font-size: 18px;color: #555555;font-weight: 700;
}
header nav #gnb .dep2_wrap .dep2>li>a:hover {color: var(--point-color-green);}

/* .on / ::after */
header.on {border-bottom: 1px solid var(--c-g-ed);}
header::after {
  content: "";
  position: absolute;left: 0;right: 0;top: 102px;height: 0;
  background: #fafafa;
  transition: all 0.5s;z-index: -1;
}
header.on::after {height: 460px;opacity: 1;}

header.on nav ul#gnb>li>a {position: relative;}
header.on nav ul#gnb>li>a::after {
  content: "";position: absolute;left: 50%;right: 50%;bottom: 0;
  height: 4px;background: var(--sub-color-green);
  transition: all 0.5s;
}
header.on nav ul#gnb>li>a:hover::after {
  left: 0;right: 0;
}

header.on nav #gnb .dep2_wrap .dep2 {display: flex;}

/* 1755 => uitl_lift hiddn sns 보임  1500 gnb hidden */

@media screen and (min-width: 1751px) {
  .uitl_right .sns_wrap {display: none;}
}
@media screen and (max-width: 1750px) {
  #wrap header .uitl_left {display: none;}
}
@media screen and (max-width: 1725px) {
  .uitl_right .sns_wrap {display: flex;}

}
@media screen and (max-width: 1580px) {
  #wrap header nav #gnb {display: none;}
  #wrap main .inner {padding: 0 4%;}
}
@media screen and (max-width: 1024px) {
  #wrap main .inner {padding: 0 3%}
  header h1 a {
    width: 76px;height: 36px;
    background-size: 76px 36px;
  }
}
@media screen and (max-width: 640px) {
  header {height: 60px;}
  .uitl_right .sns_wrap {display: none;}
  .uitl_right .lang_wrap {display: none;}
}
@media screen and (max-width: 550px) {
  #wrap main .inner {padding: 0 2%;}
}

/* header nav #gnb .dep2_wrap {
  border: 1px solid pink;
  font-size: 16px;color: #333;
} */
/* header nav #gnb .dep2_wrap .dep2 {
  position: relative;
}
header.on nav #gnb .dep2_wrap .dep2 {display: flex;}
header nav #gnb .dep2_wrap .dep2::after {
  content: '';display: none;height: 400px;
  position: absolute;left: 0;right: 0;top: inherit;
  background: #fff;
}
header nav #gnb>li>a:hover .dep2_wrap .dep2::after {display: block;}

header nav #gnb>li.over>a::after {
  left: 0;right: 0;
}
header nav #gnb .dep2_wrap .dep2>li {
  padding-bottom: 20px;
} */

/* *** Legacy 가상요소 예시*/
/* header #gnb .dep1>li>a {
  font-size: 20px;font-weight: 700;
  position: relative;
}
header #gnb .dep1>li>a::after {
  content: '';display: none;
  position: absolute;left: 0;bottom: -14px;
  width: 100%;height: 4px;
  background: var(--main-color);
}
header #gnb .dep1>li:hover>a::after {display: block;} */


/* uitl */
header .uitl {
  display: flex;gap: 15px;
  height: 100%;
}
header .uitl .uitl_all {
  display: flex;gap: 55px;align-items: center;
  font-size: 15px;font-weight: 700;
}
header .uitl .uitl_all .uitl_left {display: flex;gap: 15px;align-items: center;}
header .uitl .uitl_all .uitl_right {display: flex;gap: 25px;align-items: center;}

header .uitl .skinno:hover {color: var(--point-color-green);}
header .uitl .youtube {
  display: block;width: 19px;height: 14px;
  background: url(../img/youtube_logo.svg) no-repeat center;
  background-size: contain;
}
header .uitl .yubase {
  display: block;width: 54px;height: 14px;
  background: url(../img/sk_yubase_logo_black.svg) no-repeat center;
  background-size: contain;
}
header .uitl .zic {
  display: block;width: 33px;height: 10px;
  background: url(../img/sk_zic_logo_black.svg) no-repeat center;
  background-size: contain;
}
header .uitl .youtube:hover {
  background: url(../img/youtube_logo_green.svg) no-repeat center;
  background-size: contain;
}
header .uitl .yubase:hover {background: url(../img/sk_yubase_logo_green.svg) no-repeat center;background-size: contain;}
header .uitl .zic:hover {background: url(../img/sk_zic_logo_green.svg ) no-repeat center;background-size: contain;}

/* header uitl_right */
header .uitl .uitl_all .uitl_right {
  display: flex;align-items: center;gap: 30px;
}
header .uitl .uitl_all .uitl_right .search_wrap .btn_search_open {
  display: block;width: 28px;height: 28px;
  background: url(../img/search_logo-black.svg) no-repeat center;
  background-size: contain;
}
header .uitl .uitl_all .uitl_right .search_wrap .btn_search_open:hover {
  background: url(../img/search_logo-green.svg);
}
header .uitl .uitl_all .uitl_right .search_wrap {
}
header .uitl .uitl_all .uitl_right .search_wrap .search_popup {
  display: none;position: absolute;
  left: 0;right: 0;top: 102px;
  padding: 200px 0 200px;
  background: #fafafa;
}
header .search_wrap .search_popup .search_input {
  display: flex;justify-content: space-between;align-items: center;
  border: 4px solid var(--point-color-green);font-size: 25px;
  padding: 10px 20px;width: 800px;height: 80px;
}
header .search_wrap .search_popup .search_input>input {background: #fafafa;}
header .search_wrap .search_popup .search_input>button {font-size: 40px;}
header .uitl .uitl_all .uitl_right .search_wrap .search_popup form {
  display: flex;justify-content: center;align-items: center;
}
header .search_wrap .search_popup .btn_search_close {
  position: absolute;right: 100px;top: 30px;
  font-size: 40px;
}

header .uitl .uitl_all .uitl_right .sns_wrap {
  position: relative;
}
header .uitl .uitl_all .uitl_right .sns_wrap button {
  display: block;width: 28px;height: 28px;
  background: url(../img/ico_sns.png) no-repeat center;
  background-size: contain;
}
header .uitl .uitl_all .uitl_right .sns_link {
  display: none;
  flex-direction: column;gap: 14px;padding: 28px;
  position: absolute;left: -200%;top: 51px;background: #fff;
  font-size: 14px;font-weight: 700;
  box-shadow: 0 -4px 15px rgba(0, 0, 0, .2);
  white-space: nowrap;text-align: center;
}
header .uitl .uitl_all .uitl_right .sns_link::before {
  content: '';width: 15px;height: 15px;background: #fff;
  position: absolute;left: 45%;top: -8px;transform: translateX(-50%);
  transform: rotate(45deg);
}
header .uitl .uitl_all .uitl_right .sns_link>li {
  display: flex;flex-direction: column;gap: 10px;
}

header .uitl .uitl_all .uitl_right .lang_wrap {position: relative;}
header .uitl .uitl_all .uitl_right .lang_wrap .eng_lang {}
header .uitl .uitl_all .uitl_right .lang_wrap .eng_lang button {
  display: block;width: 28px;height: 28px;
  background: url(../img/globe_icon_black.svg) no-repeat center;
  background-size: contain;
}
header .uitl .uitl_all .uitl_right .lang_wrap .eng_lang button:hover {
  background: url(../img/eng_kor_green.svg)
}
header .uitl .uitl_all .uitl_right .lang_wrap .eng_lang ul {
  display: none;
  flex-direction: column;gap: 14px;padding: 28px;
  position: absolute;left: -100%;top: 51px;background: #fff;
  font-size: 14px;font-weight: 700;
  box-shadow: 0 -4px 15px rgba(0, 0, 0, .2);
}
header .uitl .uitl_all .uitl_right .lang_wrap .eng_lang ul::before {
  content: '';width: 15px;height: 15px;background: #fff;
  position: absolute;left: 40%;top: -8px;transform: translateX(-50%);
  transform: rotate(45deg);
}
header .uitl .uitl_all .uitl_right .lang_wrap .eng_lang ul li:first-child :hover {color: var(--point-color-green);}
header .uitl .uitl_all .uitl_right .lang_wrap .eng_lang ul li:last-child:hover {color: var(--point-color-green);}

/* allmenu_wrap */

/* .allmenu_wrap_open {
  margin-top:50px;
  margin-left:100px;
  position: relative;
  width: 28px;
  height: 16px;
  cursor: pointer;
}
.allmenu_wrap_open .line {
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background: #222;
  left: 0;
}
.allmenu_wrap_open .line:first-child{
  top: 0;
  transform-origin: 25% 50%;
  transition: .3s;
}
.allmenu_wrap_open .line:nth-child(2){
  top: calc(50% - 1px);
}
.allmenu_wrap_open .line:last-child{
  bottom: 0;
  transform-origin: 25% 50%;
  transition: .3s;
} */


/* .allmenu_wrap_open.open .line:first-child{
  transform: rotate(45deg) translateX(10%);
}
.allmenu_wrap_open.open .line:nth-child(2){
  opacity: 0;
}
.allmenu_wrap_open.open .line:last-child{
  transform: rotate(-45deg) translateX(10%);
} */

header .allmenu_popup {
  display: none;background: #fff;color: #222;
  position: fixed;left: 0;right: 0;top: 0;bottom: 0;
}
/* allmenu_popup x_button */
header .allmenu_wrap_open {
  position: relative;
  display: flex;flex-direction: column;
  justify-content: space-between;
  width: 28px;height: 23px;
}
header .allmenu_wrap_open .line {
  position: absolute;left: 0;
  width: 100%;height: 3px;border-radius: 3px;
  background: #333;
}
header .allmenu_wrap_open .line:nth-child(1) {
  top: 0;transform-origin: 25% 50%;
  transition: .3s;
}
header .allmenu_wrap_open .line:nth-child(2) {
  top: calc(50% - 1px);
}
header .allmenu_wrap_open .line:nth-child(3) {
  bottom: 0;transform-origin: 25% 50%;
  transition: .3s;
}
header .allmenu_wrap_open.open .line:nth-child(1) {
  transform: rotate(45deg) translateX(10%);
}
header .allmenu_wrap_open.open .line:nth-child(2) {
  opacity: 0;
}
header .allmenu_wrap_open.open .line:nth-child(3) {
  transform: rotate(-45deg) translateX(10%);
}

header .allmenu_wrap_close {
  display: flex;flex-direction: column;
  justify-content: space-between;
  width: 28px;height: 23px;
}
header .allmenu_wrap_close span {
  width: 100%;height: 3px;background: #333;
}

/* footer */
footer {
  background: var(--c-dark);color: #fff;
  /* border: 1px solid var(--c-dark); */
}
footer .f_top {
  margin: auto;
  display: flex;justify-content: space-between;
  padding: 28px 80px;border-bottom: 0.3px solid var(--c-gray);
}
footer .f_top_l {
  display: flex;gap: 12px;
  font-size: 18px;font-weight: 700;
}
footer .f_top_l .green {color: var(--sub-color-green);}
footer .f_top_l p {color: #555;}
footer .f_top_r {display: flex;align-items: center;gap: 10px;font-size: 16px;font-weight: 700;}
footer .f_top_r .youtube {
  display: block;width: 19px;height: 14px;
  background: url(../img/youtube_logo_white.svg) no-repeat center;
  background-size: contain;
}
footer .f_top_r .yubase {
  display: block;width: 54px;height: 14px;
  background: url(../img/sk_yubase_logo_white.svg) no-repeat center;
  background-size: contain;
}
footer .f_top_r .zic {
  display: block;width: 33px;height: 10px;
  background: url(../img/sk_zic_logo_white.svg) no-repeat center;
  background-size: contain;
}
footer .f_btm {
  padding: 40px 80px;margin: auto;
  display: flex;justify-content: space-between;
}
/* footer family_site */
footer .f_btm_r .family_site {
  border-bottom: 2px solid #fff;
  display: flex;justify-content: space-between;gap: 30px;
  width: 170px;height: 38px;
  font-size: 18px;
}
footer .f_btm_r .f_s_popup {
  width: 100%;height: 100vh;
  position:fixed;left: 0;right: 0;top: 0;bottom: 0;
  background: rgba(0, 0, 0, .5);z-index: 9999;
  display: none;justify-content: center;
  align-items: center;
}
footer .f_btm_r .f_s_popup .popup_box {
  width: 1080px;height: 670px;
  background: #FFF;color: #000;
  padding: 50px;display: flex;flex-direction: column;
}
footer .f_btm_r .f_s_popup .popup_box .f_s_popup_top {
  padding: 0 0 45px;
  display: flex;flex-direction: row;justify-content: space-between;
  font-size: 36px;font-weight: 700;
}
footer .f_btm_r .f_s_popup .popup_box .f_s_popup_top button:hover {
  color: var(--point-color-green);
}
footer .f_btm_r .f_s_popup .popup_box .f_s_popup_bottom {
  display: flex;justify-content: space-between;
}
footer .f_btm_r .f_s_popup .popup_box .f_s_popup_bottom p {
  width: 220px;padding: 20px 0 35px;
  border-top: 2px solid #000;font-size: 22px;font-weight: 700;
}
footer .f_btm_r .f_s_popup .popup_box .f_s_popup_bottom ul {
  display: flex;gap: 20px;flex-direction: column;
}
footer .f_btm_r .f_s_popup .popup_box .f_s_popup_bottom li {
  font-size: 18px;cursor: pointer;
}
footer .f_btm_r .f_s_popup .popup_box .f_s_popup_bottom li:hover {
  color: var(--point-color-green);
}
footer .f_btm_r .family_site .ri-add-line {font-size: 25px;}

footer .f_btm_l {display: flex;gap: 110px;align-items: top;}
footer .f_btm_l div {
  display: flex;flex-direction: column;gap: 14px;
  font-size: 16px;
}
footer .f_btm_l .skenmove {
  display: block;width: 110px;height: 55px;
  background: url(../img/skenmove_logo_green.svg) no-repeat;
  background-size: contain;
}
footer .f_btm_r {display: flex;gap: 40px;align-items: center;}
footer .f_btm_r .f_btm_logo_l {display: flex;gap: 10px;}

@media screen and (max-width: 1760px) {
  footer .f_top {padding: 28px 40px;}
  footer .f_btm {padding: 40px 40px;}
}
@media screen and (max-width: 1600px) {
  footer .f_btm_logo_l {flex-direction: column;}
}
@media screen and (max-width: 1370px) {
  footer .f_btm_l {flex-direction: column;gap: 30px;}
  footer .f_btm_logo_r {display: none;}
}
@media screen and (max-width: 1024px) {
  footer .f_top {padding: 28px 20px;}
  footer .f_btm {flex-direction: column;padding: 40px 20px;gap: 30px;}
  footer .f_btm_r {flex-direction: column;align-items: start;}
  footer .f_btm_logo_l {flex-direction: row;}
  footer .f_top_r .youtube {width: 30px;height: 22px;}
  footer .f_top_r .yubase {width: 73px;height: 19px;}
  footer .f_top_r .zic {width: 44px;height: 14px;}
  footer .f_btm {flex-direction: column-reverse;}
  footer .f_btm_l .skenmove {flex-direction: column-reverse;}
  footer .f_top_r .f_s_popup .popup_box {width: 944px;height: 492px;}
  footer .f_s_popup_top {font-size: 21px;}
  footer .f_s_popup_bottom p {width: 442px; font-size: 16px;}
  footer .f_s_popup_bottom li {font-size: 14px;}
}
@media screen and (max-width: 640px) {
  footer .f_top {flex-direction: column;gap: 15px;padding: 20px;}
  footer .f_top_l {font-size: 16px;}
  footer .f_btm {padding: 30px 20px;gap: 15px;}
  footer .f_btm_l {gap: 15px;}
  footer .f_btm_l div {font-size: 13px;gap: 10px;}
  footer .f_btm_r {gap: 20px;}
  footer .f_btm_r span {font-size: 16px;}
  footer .f_btm_r .family_site .ri-add-line {font-size: 20px;}
  footer .f_btm_l .skenmove {width: 100px;height: 53px;}
}
/* main - home/index */
main {}
main .main_visual_f_swiper {position: relative;}
main .main_visual_f_swiper .swiper-wrapper .swiper-slide {
  width: 100%;height: 100vh;
  display: flex;flex-direction: column;
  justify-content: center;align-items: center;
  color: #FFF;
}
main .main_visual_f_swiper .swiper-wrapper .slide1 {
  background: url(../img/1.avif) no-repeat center;
  background-size: cover;
}
main .main_visual_f_swiper .swiper-wrapper .slide2 {
  background: url(../img/2.avif) no-repeat center;
  background-size: cover;
}
main .main_visual_f_swiper .swiper-wrapper .slide3 {
  background: url(../img/3.avif) no-repeat center;
  background-size: cover;
}
/* main_visual zoomIn - start */
@keyframes zoom {
  from {transform: scale(1);}
  to {transform: scale(1.5);}
}
main .main_visual_f_swiper .swiper-slide {
  background {
        animation-name: zoom;
        animation-duration: 4s;
        /* animation-fill-mode: forwards; */
  }
}
/* main_visual zoomIn - end  추후 삭제 */

main .main_visual_f_swiper .swiper-slide p {font-size: 26px;}
main .main_visual_f_swiper .swiper-slide .main_text {
  font-size: 68px;text-align: center;
}
main .main_visual_f_swiper .swiper-slide .main_text strong {
  font-size: 72px;font-weight: 900;
}

main .swiper_content {
  position: absolute;left: 50%;bottom: 200px;z-index: 10;
  transform: translateX(-50%);
}
main .swiper_content span {
  font-size: 18px;font-weight: 700;color: #FFF;
}
main .swiper_content span .arrow_more {
  width: 30px;height: 2px;background: #FFF;
}
main .swiper_content span .arrow_more::before {
  /* width: 30px;height: 2px;background: #FFF; */
}
main .swiper_content .btm_mouse {
  display: flex;flex-direction: column;align-items: center;
}
main .swiper_content .main_mouse {
  width: 25px;height: 40px;border: 2px solid #fff;
  border-radius: 25px;
}
main .swiper_content .main_mouse_wheel {
  width: 1px;height: 10px;background: #FFF;margin-top: 0;
}
main .swiper_content .btm_arrow .main_box {
  width: 15px;height: 15px;
  border-top: 2px solid #fff;border-right: 2px solid #fff;
  transform: rotate(135deg);
}
/* main_visual_l_swiper */
main .main_visual_l_swiper {
  position: relative;
  width: 100%;height: 100vh;
  display: flex;flex-direction: column;
  justify-content: center;align-items: center;
  overflow: hidden;
}
main .main_visual_l_swiper img {
  margin: 0 auto;padding-top: 110px;
}
main .main_visual_l_swiper h2 {
  margin:20px 0;font-size: 68px;font-weight: 900;
  text-align: center;
}
main .main_visual_l_swiper p {
  margin-bottom:70px;
  text-align: center;font-size: 22px;line-height: 35px;
  color: #555;
}
main .main_visual_l_swiper .last_btm {
  position: absolute;left: 50%;bottom: 100px;z-index: 10;
  transform: translateX(-50%);
}
main .main_visual_l_swiper .last_btm .slide_btn {
  display: flex;gap: 10px;
  font-size: 20px;font-weight: 700; color: #555;
}
main .main_visual_l_swiper .last_btm .slide_btn button {
  width: 45px;height: 45px;
  border: 1px solid #888;border-radius: 45px;
}
main .main_visual_l_swiper .last_btm .slide_btn button .active {
  background: var();
}
main .main_visual_l_swiper .last_btm a {
  margin: 28px 0 0 0;
  display: flex;justify-content: center; gap: 10px;
  font-size: 18px;font-weight: 700; color: #555;
}
main .main_visual_l_swiper a .ri-add-line {
  font-size: 22px;font-weight: normal;
}
main .main_visual_l_swiper .swiper-slide {

}
main .main_visual_l_swiper .slide1 {background-color: #DDEFC8;}
main .main_visual_l_swiper .slide2 {background-color: #D6EBF5;}
main .main_visual_l_swiper .slide3 {background-color: #CEF6E9;}
main .main_visual_l_swiper .slide1 h2 {color: #16873E;}
main .main_visual_l_swiper .slide2 h2 {color: #0072C6;}
main .main_visual_l_swiper .slide3 h2 {color: #009A93;}

#fp-nav.fp-right ul li a span {background: var(--point-color-green);}
#fp-nav.fp-right ul li a.active span {background: var(--point-color-green);}
/* .fp-slide {float: center;} */

/* latest news */
main .pd_list_wrap {}

main .inner .top {
  display: flex;
  position: relative;
}
main .inner .top h2 {
  display: flex;justify-content: center;align-items: center;
  padding: 185px 0 80px 0;
  width: 100%;
  font-size: 68px;font-weight: 900;
}
main .inner .top strong {color: var(--point-color-green);margin: 0 0 0 10px;}
main .inner .top .top_right {
  position: absolute;bottom: 80px;right: 0;
  font-size: 18px;font-weight: 700;
}
main .inner .top .button {
  width: 16px;height: 18px;padding: 0;
  position: relative;transition: transform 0.5s;
}
main .inner .top .button:hover {transform: rotate(360deg);}
main .inner .top .button span {
  display: block;width: 18px;height: 2px;
  position: absolute;left: 50%;right: 50%;
}
main .inner .top .button .bar1 {
  background: #333;
  transform: translate(-50%, -50%) rotate(90deg);
}
main .inner .top .button .bar2 {
  background: #333;
  transform: translate(-50%, -50%);
}

main .inner .container {
  display: grid;margin: auto;gap: 42px;
  grid-template-columns: repeat(3, 1fr);
  padding-bottom: 40px;
}
main .inner .container .item {
  display: flex;
}
main .inner .container .item a {
  flex-direction: column;
  padding: 20px 0;
}
main .inner .container .item:hover .desc {
  text-decoration: underline #333 2px;
  text-underline-offset: 2px;
}
main .inner .container .item .img {overflow: hidden;background: #333;}
main .inner .container .item img {
  width: 100%;transition: all 0.8s;
}
main .inner .container .item:hover img {
  transform: scale(1.15);
  opacity: 60%;
}
main .inner .container .item .category {
  font-size: 18px;font-weight: 700;
  color: var(--point-color-green);
  padding: 25px 0;
}
main .inner .container .item .desc {font-size: 22px;font-weight: 700;}
.fp-watermark {display: none;}

